In [3]:
import pandas as pd
import numpy as np
from janitor import clean_names
%config IPCompleter.greedy=True
import warnings 
warnings.filterwarnings("ignore")

In [9]:
ruta_proyecto = 'C:/Users/mcana/OneDrive/Escritorio/PORTAFOLIO/ML/LEAD_SCORINGLEAD_SCORING_PROYECTO'

In [10]:
nombre_fichero_datos = 'trabajo.csv'

In [11]:
ruta_completa = ruta_proyecto+ '/Datos/Tabajo/' + nombre_fichero_datos
df = pd.read_csv(ruta_completa, index_col='id', sep=',')
df

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No,No,13.0,17.0,No
660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,Select,Unemployed,No,No,No,No,No,No,15.0,18.0,No
660680,API,Chat,No,No,0,0.0,0,0.0,Chat Conversation,NaN,NaN,No,No,No,No,No,No,17.0,15.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579697,Landing Page Submission,Google,No,No,1,8.0,1016,4.0,Email Opened,"Banking, Investment And Insurance",Unemployed,No,No,No,No,No,No,15.0,20.0,No
579642,Landing Page Submission,Direct Traffic,No,No,0,2.0,1770,2.0,SMS Sent,Human Resource Management,Unemployed,No,No,No,No,No,No,14.0,20.0,Yes
579615,Landing Page Submission,Direct Traffic,No,No,1,5.0,210,2.5,SMS Sent,Business Administration,Unemployed,No,No,No,No,No,No,14.0,20.0,No
579538,Landing Page Submission,Google,No,No,1,3.0,499,3.0,SMS Sent,Human Resource Management,NaN,No,No,No,No,No,No,15.0,16.0,No
579533,Landing Page Submission,Direct Traffic,No,No,1,6.0,1279,3.0,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,No,No,15.0,18.0,Yes

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6365 entries, 660737 to 579533
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6365 non-null   object
 1   fuente                 6343 non-null   object
 2   no_enviar_email        6365 non-null   object
 3   no_llamar              6365 non-null   object
 4   compra                 6365 non-null   int64
 5   visitas_total          6286 non-null   float64
 6   tiempo_en_site_total   6365 non-null   int64
 7   paginas_vistas_visita  6286 non-null   float64
 8   ult_actividad          6305 non-null   object
 9   ambito                 5378 non-null   object
 10  ocupacion              4497 non-null   object
 11  conociste_google       6365 non-null   object
 12  conociste_revista      6365 non-null   object
 13  conociste_periodico    6365 non-null   object
 14  conociste_youtube      6365 non-null   object
 15  conociste_facebook     6365 non-null   object
 16  conociste_referencias  6365 non-null   object
 17  score_actividad        3473 non-null   float64
 18  score_perfil           3473 non-null   float64
 19  descarga_lm            6365 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 1.0+ MB

In [13]:

df = df.astype({'visitas_total':'Int64'})
df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total              Int64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

### VALORES UNICOS

In [14]:
df.nunique().sort_values()

conociste_youtube           1
conociste_periodico         1
conociste_revista           1
descarga_lm                 2
conociste_referencias       2
no_enviar_email             2
no_llamar                   2
compra                      2
conociste_facebook          2
conociste_google            2
origen                      4
ocupacion                   6
score_perfil               10
score_actividad            12
fuente                     14
ult_actividad              16
ambito                     19
visitas_total              37
paginas_vistas_visita      99
tiempo_en_site_total     1575
dtype: int64

In [16]:

df.drop(columns=['conociste_youtube', 'conociste_revista'], inplace=True)

### DUPLICADOS

In [18]:
df.duplicated().sum()

1045

In [19]:
df.drop_duplicates(inplace=True)

## SEPARAR NUMÉRICAS Y CATEGÓRICAS

In [20]:
cat = df.select_dtypes(exclude='number').copy()

In [21]:
num = df.select_dtypes(include='number').copy()

In [22]:
cat

,origen,fuente,no_enviar_email,no_llamar,ult_actividad,ambito,ocupacion,conociste_google,conociste_periodico,conociste_facebook,conociste_referencias,descarga_lm
id,,,,,,,,,,,,
660737,API,Chat,No,No,Page Visited on Website,Select,Unemployed,No,No,No,No,No
660728,API,Organic Search,No,No,Email Opened,Select,Unemployed,No,No,No,No,No
660719,Landing Page Submission,Direct Traffic,No,No,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No
660681,Landing Page Submission,Google,No,No,Converted to Lead,Select,Unemployed,No,No,No,No,No
660680,API,Chat,No,No,Chat Conversation,NaN,NaN,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
579697,Landing Page Submission,Google,No,No,Email Opened,"Banking, Investment And Insurance",Unemployed,No,No,No,No,No
579642,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Human Resource Management,Unemployed,No,No,No,No,Yes
579615,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Business Administration,Unemployed,No,No,No,No,No
579538,Landing Page Submission,Google,No,No,SMS Sent,Human Resource Management,NaN,No,No,No,No,No
579533,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,Yes

In [23]:
num

,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
id,,,,,,
660737,0,0,0,0.0,15.0,15.0
660728,0,5,674,2.5,15.0,15.0
660719,0,1,305,1.0,13.0,17.0
660681,1,2,1428,1.0,15.0,18.0
660680,0,0,0,0.0,17.0,15.0
...,...,...,...,...,...,...
579697,1,8,1016,4.0,15.0,20.0
579642,0,2,1770,2.0,14.0,20.0
579615,1,5,210,2.5,14.0,20.0
579538,1,3,499,3.0,15.0,16.0
579533,1,6,1279,3.0,15.0,18.0

### GESTIÓN DE CATEGÓRICAS

In [24]:
cat.isna().sum().sort_values(ascending=False)

ocupacion                1361
ambito                    480
ult_actividad              60
fuente                     16
origen                      0
no_enviar_email             0
no_llamar                   0
conociste_google            0
conociste_periodico         0
conociste_facebook          0
conociste_referencias       0
descarga_lm                 0
dtype: int64

In [25]:
#Corregir los nulos
cat.ocupacion.value_counts()

ocupacion
Unemployed              3391
Working Professional     421
Student                  120
Other                     12
Housewife                  9
Businessman                6
Name: count, dtype: int64

In [26]:
cat.ambito.value_counts()

ambito
Select                               842
Finance Management                   641
Marketing Management                 566
Human Resource Management            565
Operations Management                359
Business Administration              278
IT Projects Management               262
Supply Chain Management              242
Banking, Investment And Insurance    235
Travel and Tourism                   143
Media and Advertising                138
Healthcare Management                108
International Business               108
Hospitality Management                89
E-COMMERCE                            78
Retail Management                     57
Rural and Agribusiness                52
E-Business                            43
Services Excellence                   34
Name: count, dtype: int64

In [27]:
cat.ult_actividad.value_counts()

ult_actividad
Email Opened                    2055
SMS Sent                        1621
Page Visited on Website          441
Converted to Lead                304
Chat Conversation                276
Email Bounced                    204
Email Link Clicked               139
Form Submitted on Website         77
Unreachable                       60
Unsubscribed                      47
Had a Phone Conversation          21
Approached upfront                 6
View in browser link Clicked       5
Email Received                     2
Resubscribed to emails             1
Email Marked Spam                  1
Name: count, dtype: int64

In [28]:
cat.fuente.value_counts()

fuente
Google            2024
Direct Traffic    1786
Organic Search     816
Chat               319
Reference          227
Referral Sites      85
Facebook            31
bing                 5
google               3
Click2call           3
Live Chat            2
blog                 1
Social Media         1
Press_Release        1
Name: count, dtype: int64

In [29]:
var_imputar_valor = ['ult_actividad','fuente']

In [30]:
valor = 'DESCONOCIDO'

In [32]:
#imputar 
cat[var_imputar_valor] = cat[var_imputar_valor].fillna(valor)

In [33]:
#IMPUTAR MODA
var_imputar_moda = ['ocupacion','ambito']

def imputar_moda(variable):
    return(variable.fillna(variable.mode()[0]))

In [34]:
cat[var_imputar_moda] = cat[var_imputar_moda].apply(imputar_moda)

In [74]:
#ATIPICOS
def agrupar_cat_raras(variable, criterio = 0.05):
    #calcula las frecuencias 
    frecuencias = variable.value_counts(normalize=True)
    #Identifica las que están por debajo del criterio 
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    #las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp), 'OTROS',variable)
    #devuelve el resultado 
    return(temp2)

In [75]:
var_agrupar_cat_raras = cat.columns.to_list()

In [38]:

for variable in var_imputar_moda:
    cat[variable] = agrupar_cat_raras(cat[variable], criterio = 0.02)

In [40]:
cat.ocupacion.value_counts()

ocupacion
Unemployed              4752
Working Professional     421
Student                  120
OTROS                     27
Name: count, dtype: int64

## GESTION DE NUMERICAS

In [41]:
num.isna().sum().sort_values(ascending = False)

score_actividad          2341
score_perfil             2341
visitas_total              79
paginas_vistas_visita      79
compra                      0
tiempo_en_site_total        0
dtype: int64

In [42]:

var_imputar_mediana = num.columns.to_list()

In [48]:
#función para imputar mediana
def imputar_mediana(variable): 
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

In [49]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

In [50]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5320 entries, 660737 to 579533
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   compra                 5320 non-null   int64
 1   visitas_total          5320 non-null   Int64
 2   tiempo_en_site_total   5320 non-null   int64
 3   paginas_vistas_visita  5320 non-null   float64
 4   score_actividad        5320 non-null   float64
 5   score_perfil           5320 non-null   float64
dtypes: Int64(1), float64(3), int64(2)
memory usage: 296.1 KB

## ATIPICOS

In [51]:
num_desv_tip = 4

In [53]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    variable = variable.dropna()
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral 
    lim_sup = media + umbral
    indices = [indice for indice, valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

In [54]:
def conteo_atipicos(df, variable, num_desv_tip = 4):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

In [56]:
var_atipicos_dt = num.columns.to_list()

In [57]:
for variable in var_atipicos_dt:
    print('\n' + variable +':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

compra:

Series([], Name: count, dtype: int64)

visitas_total:

visitas_total
25     5
24     4
27     4
29     2
23     2
26     2
43     1
30     1
55     1
141    1
28     1
41     1
115    1
32     1
42     1
Name: count, dtype: Int64

tiempo_en_site_total:

Series([], Name: count, dtype: int64)

paginas_vistas_visita:

paginas_vistas_visita
14.0    7
13.0    5
16.0    3
12.0    3
15.0    2
55.0    1
14.5    1
Name: count, dtype: int64

score_actividad:

score_actividad
10.0    40
9.0      9
18.0     4
8.0      3
7.0      1
Name: count, dtype: int64

score_perfil:

Series([], Name: count, dtype: int64)

WINSORIZACION MANUAL

In [63]:
num['visitas_total'].clip(0,50, inplace=True)
num['paginas_vistas_visita'].clip(0,20, inplace=True)

In [66]:
ruta_trabajo = ruta_proyecto + '/Datos/Tabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/Datos/Tabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/Datos/Tabajo/' + 'num_resultado_calidad.pickle'

In [67]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)

In [72]:
num

,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
id,,,,,,
660737,0,0,0,0.0,15.0,15.0
660728,0,5,674,2.5,15.0,15.0
660719,0,1,305,1.0,13.0,17.0
660681,1,2,1428,1.0,15.0,18.0
660680,0,0,0,0.0,17.0,15.0
...,...,...,...,...,...,...
579697,1,8,1016,4.0,15.0,20.0
579642,0,2,1770,2.0,14.0,20.0
579615,1,5,210,2.5,14.0,20.0
579538,1,3,499,3.0,15.0,16.0
579533,1,6,1279,3.0,15.0,18.0

In [73]:
cat

,origen,fuente,no_enviar_email,no_llamar,ult_actividad,ambito,ocupacion,conociste_google,conociste_periodico,conociste_facebook,conociste_referencias,descarga_lm
id,,,,,,,,,,,,
660737,API,Chat,No,No,Page Visited on Website,Select,Unemployed,No,No,No,No,No
660728,API,Organic Search,No,No,Email Opened,Select,Unemployed,No,No,No,No,No
660719,Landing Page Submission,Direct Traffic,No,No,OTROS,Media and Advertising,Unemployed,No,No,No,No,No
660681,Landing Page Submission,Google,No,No,Converted to Lead,Select,Unemployed,No,No,No,No,No
660680,API,Chat,No,No,Chat Conversation,Select,Unemployed,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
579697,Landing Page Submission,Google,No,No,Email Opened,"Banking, Investment And Insurance",Unemployed,No,No,No,No,No
579642,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Human Resource Management,Unemployed,No,No,No,No,Yes
579615,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Business Administration,Unemployed,No,No,No,No,No
579538,Landing Page Submission,Google,No,No,SMS Sent,Human Resource Management,Unemployed,No,No,No,No,No
579533,Landing Page Submission,Direct Traffic,No,No,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,Yes